




<div class="container">
	<div class="row">
		<% @assigments.each do |a| %>
			<div class="col">
				<div class="card" >
					<%= image_tag a.task.photo , :size => "200x200", class: 'card-img-top img-thumbnail' %>
					<div class="body">		
					    <h1><%= a.task.name  %></h1>

						<p><%= a.task.description  %></p>
						<% if  a.complete == false %>
							<%= link_to "No realizada", task_assigment_path(a.task.id, a.id), class: "btn btn-danger", method: :patch %>
							<% if a.task.id == 1 %>
								<%= link_to "¿quién la ha completado?", assigments_task_one_path, class:"btn btn-info"%> 
							<%end%>
						<% else %>
								
							<%= link_to "Listo", task_assigment_path(a.task.id, a.id), class: "btn btn-success", method: :patch %>
							<% if a.task.id == 1 %>
								<%= link_to "¿quién la ha completado?", assigments_task_one_path, class:"btn btn-info"%> 
							<%end%>
						<% end %>
					</div>
				</div>
			</div>

			
			<div class="w-100" style="margin:20px" ></div>
		<% end %>
	</div>
</div>