
<h1>Comer empanadas</h1>
<% @assigments.each do |a| %>
	<%= a.id %>
	<%= @assigments.sort_by { |m| [m.updated_at].max }.reverse!.take(3) %>
	<% if a.complete = true %> 
		<%if a.task.id = 1 %>
			<%= a.task.name%>  
			<ul> 
				<%= a.user.name %>   <%= image_tag a.user.avatar , :size => "100x100" %> 
			
			</ul>
		<% else %>
			<br>
		<% end %>
	<% else %>
		<br>
	<% end %>
<%end%>